body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .gameContainer h1 {
        font-size: 3rem;
    }

td {
    border: 1px solid black;
    height: 7rem;
    width: 7rem;
    text-align: center;
    cursor: pointer;
}

    td.x {
        font-size: 5rem;
        color: #ed4e6e;
    }

    td.o {
        font-size: 5rem;
        color: #485b6e;
    }

.wichPlayer {
    display: flex;
    align-items: center;
}

.breakline {
    font-size: 3rem;
    padding-bottom: 1rem;
}


.wichPlayer .o {
    font-size: 4rem;
    color: #485b6e;
    cursor: pointer;
    height: 6rem;
}

.wichPlayer .x {
    font-size: 4rem;
    color: #ed4e6e;
    cursor: pointer;
    height: 6rem;
}

.wichPlayer .o:hover {
    background: aliceblue;
}

.wichPlayer .x:hover {
    background: aliceblue;
}

.card-img-top {
    height: 100px;
}

.card-header, .card-body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row {
    margin-top: 50px;
}
