@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kamil Raś<br />
    Kraków<br />
    <abbr title="Telefon">Telefon: </abbr>
    577652552
</address>

<address>
    <strong>Github:</strong> <a href="https://github.com/kamilras">github.com/kamilras</a><br />
    <strong>Email:</strong> <a href="mailto:kamilras@gmail.com">kamilras@gmail.com</a>
</address>