@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kółko i Krzyżyk</h1>
    <p class="lead">Popularna gra logiczna kółko i krzyżyk</p>
    <p><a href="@Url.Action("Game","Home", new {@class="Button"})" class="btn btn-primary btn-lg">Zagraj teraz &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Logowanie</h2>
        <p>
            Na początku zaloguj się na swoje konto.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Login","Account", new {@class="Button"})">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rejestracja</h2>
        <p>Jeśli nie masz konta swtórz nowe.</p>
        <p><a class="btn btn-default" href="@Url.Action("Register","Account", new {@class="Button"})">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Profil</h2>
        <p>Profil zalogowanego gracza</p>
        <p><a class="btn btn-default" href="@Url.Action("Profil","Account", new {@class="Button"})">Profil &raquo;</a></p>
    </div>
</div>